@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
  --font-mono: "Raleway", sans-serif;

  --color-*: initial;
  --color-background: #141414;
  --color-section: rgb(51 111 101 / 10%);
  --color-foreground: #8fc7be;
  --color-accent: #00ffd2;
  --color-deep: #172c29;
  --color-primary: #12ac91;
  --color-primary-20: rgb(18 172 145 / 20%);
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    margin: 0;
  }
}
